.navbar { 
    font-family: navbar; 
  }
  
  .container-fluid{
   display: inline-block;
   text-align: center;
   width: 15%;
   margin-top: 1%;
   margin-bottom: 3%;
  }
  
  .navbar-brand{
    color: rgba(181, 164, 164, 0.515); 
    text-decoration: none;  
  }
  
  .navbar-brand:hover{
    color: aliceblue;
  }